<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Paradox003's Valorant Shop</title>
  </head>
  <body>
    <h1>Paradox003's Valorant Shop</h1>
    <div id="container">
      <h2>Time Remaining: <%= time_remaining %></h2>
      <% for (let i = 0; i < offers.length; i++) { %>
      <div class="offer">
        <img class="offer_image" src="<%= offers[i].image %>" />
        <p><%= offers[i].display_name %></p>
      </div>
      <% } %>
    </div>
  </body>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    h1,
    h2,
    p {
      font-size: 1rem;
      font-family: "Roboto", sans-serif;
    }

    h1 {
      font-weight: 500;
    }
    h1,
    h2,
    .offer * {
      padding: 1rem;
    }
    p,
    h2 {
      font-weight: 300;
    }

    h1,
    h2 {
      display: block;
    }

    .offer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .offer_image {
      max-width: 175px;
    }
  </style>
</html>
